@model CatalogItemViewModel

<form asp-page="/Basket/Index" method="post">
    <img class="esh-catalog-thumbnail" src="@Model.PictureUri" />
    @if (Model.AvailableStock == 0)
    {
        <input class="esh-catalog-button" type="submit" value="[ OUT OF STOCK ]" disabled="disabled" />
    }
    else
    {
        <input class="esh-catalog-button" type="submit" value="[ ADD TO BASKET ]" />
    }
    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>

    <div class="esh-catalog-stock">
        @if (Model.AvailableStock == 0)
        {
            <span class="text-danger">Out of stock</span>
        }
        else
        {
            <span>Only @Model.AvailableStock left</span>
        }
    </div>

    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
</form>
